:root{
    --margin-10: 10px;
    --margin-20: 20px; 
    --margin-25: 25px;
    --margin-30: 30px;
    --margin-40: 40px;
    --white: #fff;
    --black: #000;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background-image: url("./images/istockphoto-1129029770-170667a.jpg");
  }

.header {
    background-color: #1785a7;
    color: var(--white);
    text-align: center;
    font-size: 35px;
}

.header nav {
    justify-content: center;
    
}

.header nav ul li {
    display: inline;
    font-size: var(--margin-30);
    margin: var(--margin-20);
    margin-bottom: 5px;
}

nav a {
    color: #99bdff;
}

/* working on this class */
/* cant get background up and merges with footer for some reason */
.section { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -20px;
    margin-right: -20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: var(--margin-40);
    margin-right: var(--margin-40);
    height: 400px;
    background-color: aqua;
  }

.referals-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 0px;
}

.colum-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--margin-20);
    margin-bottom: var(--margin-10);
}

.about-me {
    text-align: center;
    font-size: var(--margin-30);
    font-family: 'Times New Roman', Times, serif;
    color: var(--white);
    line-height: var(--margin-30);
    margin: 0 40px 0 40px;
    border: var(--wh) 2px solid;
    height: 100%;
    background-image: url('./images/cedarBranch.jpg');
    background-size: 101%;
}

.test {
    border: solid #7d7d81;
    border-width: var(--margin-10);
    border-radius: var(--margin-30);
    margin: var(--margin-20);
    padding: var(--margin-30);
}

.font-style { 
    font-family: 'Courier New', Courier, monospace;
}

.contact {
    text-align: center;
    color: var(--black);
    font-size: 15px;
    border: var(--black) 5px solid;
    padding: 15px;
    background-color: #00fd9c;
}

.contact h3 {
    font-size: var(--margin-30);
}

.referals {
    border: #11637c 5px solid;
    margin-top: var(--margin-10);
    height: 300px;
    background-color: #0004fd;
    color: var(--white);
}

.referals h3 {
    font-size: var(--margin-30);
}

.referals-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: var(--margin-10);
}

.referals-contact {
    border: var(--black) 5px solid;
    padding: var(--margin-10);
    margin-top: var(--margin-10);
    text-align: center;
}

.footer {
    padding: var(--margin-25);
    text-align: center;
    background-color: #11637c;
    color: var(--white);
}

.footer h4 {
    font-size: var(--margin-25);
}

.footer nav {
    justify-content: center;
}

.footer nav ul li {
    display: inline;
    font-size: var(--margin-30);
}

.footer nav ul li span {
    margin: var(--margin-25);
}

.justify-center {
    justify-content: center;
}

.bold {
    font-size: var(--margin-40);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 100px;
    color: #00fd9c;
}

.bold-bottom {
    margin-top: 10%;
}

.projects-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects {
    background-image: url('./images/cherryBorder.jpg');
}

.img-border {
    background-image: url('./images/woodBorder.jpg');
    background-size: 30%;
    border: #003303 3px solid;
    color: var(--white);
    font-size: var(--margin-20);
    text-align: center;
}

.p1Size {
    margin: 1%;
}

.p2Size {
    margin: 2%;
}

.p3Size {
    margin: 3%;
}


@media screen and (max-width: 996px) {
    .header,
    .row,
    .referals {
      flex-direction: column;
      height: 100%;
      margin: 0;
    }
  
    section {
      width: 100%;
      text-align: center;
    }
  }
